<h1>Vediamo cosa sappiamo di {{ book_title }}</h1>
<h2>Un libricino di <a href="{{ url_for('author_page', author_name = book_object.author_sort) }}">{{ book_object.author_sort }}</a></h2>
<p>torna alla <a href="{{ url_for('authors') }}">lista autori</a></p>

<p>vediamo se riusciamo a listare le tag:
  {% for obj_tag in tags_obj_list|sort(attribute='name') %}
    <span>
      <a href="{{ url_for('tag_page', tag_id = obj_tag.id, tag_name = obj_tag.name) }}">{{ obj_tag.name }}</a>{% if not loop.last %},{% endif %}
    </span>
  {% endfor %}
</p>

<ul>
  {% for file in scaricabili_object_list %}
    <li><a href="{{ url_for('static', filename = 'ebooks/{}/{}.{}'.format(book_object.path, file.name, file.format|lower)) }}">{{ file.format }}</a></li>
  {% endfor %}
</ul>

<h3>Sinossi</h3>
{{ comment.text|safe }}
